[GENERAL]
errortrace: true

[AQUALIN]
location: [String description]
macaddresslist: 01:02:03:04:05:06,01:02:03:04:05:07,01:02:03:04:05:08
bleHandle: 0x0073
valueBase: 7b03
waittime: 1
stdwatertimer: 30

[MQTT]
Host: [MQTTHOST]
Port: 1883
mqttbasepath: home/aqualin/
